<!doctype html>
<html class="no-js" lang="">
    {% load staticfiles %}
    {% load bootstrap3 %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>CrowdSource{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        {% bootstrap_messages %}
        {% block content %}{% endblock %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        {% bootstrap_javascript %}

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
