{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} - Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h2>CrowdSourcing Project</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'redirect-home' %}" />
        </form>
        <span>
          <a href="{% url 'signup-worker' %}">Sign up as a worker</a> /
          <a href="{% url 'signup-provider' %}">Sign up as a provider</a></span>
      </div>
    </div>
  </div>
{% endblock %}
