{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} - Provider{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h2>{% if form %}Create new task{% else %}Task{% endif %}</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        {% if form %}
        <form action="{% url 'provider-index' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'provider-index' %}" />
        </form>
        {% else %}
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ task.description }}</td>
              <td>{% if task.started %}
                    <a href="{% url 'review-workers' task.id %}" class="btn btn-primary btn-sm">Completed</a>
                  {% else %}
                    Awaiting response...
                  {% endif %}</td>
            </tr>
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
