{% extends "base.html" %}
{% load bootstrap3 %}
{% load project_extras %}
{% block title %} - Select workers{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
  <h2>Review workers</h2>
</div>
<div class="row">
<div class="col-md-8 col-xs-12">
  {% for worker in workers %}
    {% if forloop.first %}
    <form action="{% url 'review-workers' task.id %}" method="post">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Rating (1-10)</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}
          <tr>
            <td>{{ worker.user.username }}</td>
            <td><input type="text" name="{{ worker.id }}"></td>
          </tr>
    {% if forloop.last %}
        </tbody>
      </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
