{% extends "base.html" %}
{% load bootstrap3 %}
{% load project_extras %}
{% block title %} - Select workers{% endblock %}
{% block content %}
<div class="container">
<div class="page-header">
  <h2>Select workers</h2>
</div>
<div class="row">
<div class="col-md-8 col-xs-12">
  {% for worker in workers %}
    {% if forloop.first %}
    <form action="{% url 'select-workers' task.id %}" method="post">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Fee</th>
            <th>Experience</th>
            <th>Credibility</th>
          </tr>
        </thead>
        <tbody>
    {% endif %}
          <tr>
            <td><input type="checkbox" name="workers[]" value="{{ worker.id }}"></td>
            <td>{{ worker.user.username }}</td>
            <td>{{ worker.fee }}</td>
            <td>{{ worker.experience|per_area:task.area }}</td>
            <td>{{ worker|per_area_cred:task.area }}</td>
          </tr>
    {% if forloop.last %}
        </tbody>
      </table>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% endif %}
  {% empty %}
    <p>No workers match your criteria.</p>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}
