{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} - Signup{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h2>Signup</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <form action="{% url post_url %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form extra_form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
