{% extends "base.html" %}
{% load bootstrap3 %}
{% block title %} - Worker{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h2>Task</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12">
        {% if worker.task %}
        <table class="table">
          <thead>
            <tr>
              <th>Task</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ worker.task.description }}</td>
              <td>{% if worker.task.started %}
                    In progress
                  {% elif not worker.task.started and not worker.availability %}
                    Waiting for other workers
                  {% else %}
                  <form action="{% url 'worker-index' %}" method="post" class="form">
                    {% csrf_token %}
                    <button type="submit" name="button" value="accept" class="btn btn-primary btn-sm">Accept</button>
                    <button type="submit" name="button" value="reject" class="btn btn-primary btn-sm">Reject</button>
                  </form>
                  {% endif %}</td>
            </tr>
          </tbody>
        </table>
        {% else %}
          <p>No tasks yet.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
